*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgb(1, 1, 112),rgb(103, 0, 103));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.to-do-app{
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

.search{
    display: flex;
    background-color: rgb(227, 224, 224);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.btn{
    border: none;
    outline: none;
    background-color: rgb(255, 77, 0);
    color: #fff;
    padding: 5%;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

.items{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}


li{
    padding-top: 20px;
}

li.checked{
    text-decoration: line-through;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #555;
}

span:hover{
    background-color: #edeefe;
    border-radius: 40px;
}

 @media screen and (min-width: 50%){
    .to-do-app{
        width:50%;
    }

    .btn{
        display: flex;
        flex-direction: column;
    }
 }