*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgb(1, 1, 112),rgb(103, 0, 103));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.to-do-app{
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

.search{
    display: flex;
    background-color: rgb(227, 224, 224);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.btn{
    border: none;
    outline: none;
    background-color: rgb(255, 77, 0);
    color: #fff;
    padding: 5%;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

.items{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}


li{
    padding-top: 20px;
}

li.checked{
    text-decoration: line-through;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
    /* Adjust as needed */
}

ul li button:hover{
    background-color: #d7dafd;
    border-radius: 40px;
    width: 20px;
    height: 20px;
}

 @media screen and (min-width: 50%){
    .to-do-app{
        width:50%;
    }

    .btn{
        display: flex;
        flex-direction: column;
    }
 }